body{
    height: 8981px;
    background-image: url('../front-end/welcome.png');
    font-family: Arial, sans-serif;
}


.container{
    width: 1140px;
    margin: 0 auto;
}
.primary-btn{
    background: blue;
    display: inline-block;
    border-radius: 4px;
    padding: 12px 22px;
    color: #106eea;
    text-decoration: none;
}
.secondary-btn{
    color: rgb(8, 8, 8);
    text-decoration: none;
}
.secondary-btn i{
    font-size: 35px;
    color: #106eea;
}
.section-tittle {
    text-align: center;
    padding: 10px;
}
.section-tittle h2{
    font-size: 35px;
    color: #111111;
    margin-bottom: 18px;
}
.section-tittle h2 span{
    color: #106eea;
}
.section-tittle p{
    max-width: 510px;
    margin: auto;
    font-size: 17px;
    line-height: 1;
}
.section-tittle h4 span{
    background: #e7f1fd;
    border-radius: 10px;
    padding: 4px 12px;
    display: inline-block;
    color: #106eea;
    font-size: 15px;
    font-weight: 600
}


#quick-links{
    background-color: #106eea99;
    height: 125px;
}

#header{
    background-color: #ff0000a3;
    height: 85px;
}

#banner{
    
    height: 320px;
    background-size: cover;
    position: relative;
    background-color: white;
    
}
#banner .white-overlay{
    position: absolute;
    background: rgba(243, 190, 190, 0.6) ;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
#banner .f-container{
    display: flex;
    position: relative;
    z-index: 2;
}
#banner h1{
font-size: 40px;
padding-top: 22px;
padding-bottom: 12px;
}
#banner h1 span{
    color: blue;
}
#banner p{
    font-size :20px ;
    padding-bottom: 30px;
    
}
#banner .cta-wrapper a.primary-btn{
}

#highlights{
    height: 420px;
    background-color: #e7f1fd;
}
#highlights .f-container {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
}
#highlights .f-container i{
    font-size: 45px;
    color: #106eea;
}
#highlights .f-item{
    background-color: #fff;
    flex-basis: 15%;
    padding: 15px;
    box-shadow: #fff 0px 0px 10px;
    border-radius: 10px;
}

#about{
    height: 813px;
    background-color: #fff;
}

#skills{
    height: 280px;
    background-color:#e7f1fd;
}

#statistics{
    height: 350px;
    background-color:#e7f1fd;
}
#statistics .f-container{
    display: flex;
    justify-content: space-around;
}
#statistics .f-container i{
    font-size: 45px;
    color: #106eea;
}
#statistics .f-item{
    flex-basis: 10%;
    background-color: #fff;
    box-shadow: #fff 0 0 10px;
    border-radius: 8px;
}

#clients{
    height: 100px;
    background-color:#ff0000a3 ;
}
#clients .f-container{
    display: flex;
    justify-content: space-around;
}
#clients .f-item{
    flex-basis: 15%;
    box-shadow: #fff 0 0 15px;
    border-radius: 8px;
    background-color: #fff;
}

#service{
    height: 995px;
    background-color: #e7f1fd ;
    
}
#service .section-tittle{
    height: 50px;
}
#service .section-content .f-container  {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 150px;
    margin: 160px;
}
    #service .f-container i{
        font-size: 45px;
        color: #106eea;
    }
#service .section-content .f-item{
    background-color: #fff;
    flex-basis: 30%;
    border-radius: 8px;
    box-shadow: rgb(172, 168, 168) 0px 0px 15px;
    margin-bottom: 250px;
    
    
   
}

#testimonials{
     height:198px ;
     background-color: #ff0000a3;
}

#portfolio{
    height: 1300px;
    background-color: #106eea99;
}

#team{
    height: 696px;
    background-color: #ff0000a3; 
}
#team .section-tittle{
    height: 50px;
}
#team .f-container{
    display: flex;
    justify-content: space-around;
    padding: 150px;
   
}
#team .f-item{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: #fff 0 0 15px;
    flex-basis: 15%;
}

#pricing{
    height: 850px;
    background-color:#e7f1fd;
}

#pricing .section-tittle{
    height: 237px;
}
#pricing .section-type .f-container{
    display: flex;
    justify-content: space-around;
    height: 600px;
    
}
#pricing .section-type .f-item{
    background-color: #fff;
    flex-basis: 10%;
    border-radius: 8px;
    box-shadow: rgb(121, 107, 107) 0px 0px 15px;
    padding: 50px;
}
#pricing .

#faq{
    
    height: 620px;
    background-color:#fff;
}
#contact {
    height: 500px;
    background-color: #e7f1fd;
}
#contact .f-container{
    display: flex;
    flex-wrap: wrap;
}
#contact .f-item{
    height: 200px;
}
#contact .f-item.size-a{
    flex-basis: 40%;
}
#contact .f-item.size-b{
    flex-basis: 20%;
}
#newsletter{
    height: 280px;
    background-color: #fff;
}

#footer{
    height: 350px;
    background-color: #e7f1fd;
    
}
#footer .f-container{
    display: flex;
    justify-content: space-around;
}
#footer .f-item{
    flex-basis: 30px;
    background-color: #fff;
    padding: 55px;
}

#legals{
    height: 30px;
    background-color: #ff0000a3;

}